    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        height: 100vh;
    }
    .wrap_list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid #000;
        border-radius: 10px;
        padding: 20px;

    }
    h1 {
        margin-bottom: 10px;
    }

    form {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    input {
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid #000;
        padding: 10px 5px;
        outline: none;
    }

    li {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px 5px;
    }

    li span {
        font-size: 18px;
    }

    button {
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }
    p{
        font-size: 18px;
    }
   