.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}
.wrap_calc {
  border: 2px solid #42158b6b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}
.input {
  /* display: block; */
  /* margin-bottom: 10px; */
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #42158b6b;
  outline: #0000006b;
  width: 100px;
  font-size: 40px;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #42158b6b;
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
}
