.back_home {
  background-color: #ccccccce;
  border-radius: 10px;
  padding: 10px;
  color: #1f2df18c;
  transition: 0.3s;
   display: inline-block;
}
.back_home:hover {
  /* background-color: #cccccc8f; */
  transition: 0.3s;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
