*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 500px;
    padding: 0 15px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}